#first {
  text-align: left;
  color: #242424;
  background: darkgray;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}


.our h1 {
  padding-left: 130px;
  max-width: 390px;
  font-family: Arial, Helvetica, sans-serif bold;
  font-size: 50px;
}

.our p {
  top: 312px;
  left: 231px;
  width: 498px;
  height: 153px;
  padding-left: 130px;
  max-width: 390px;
  font-family: Arial, Helvetica, sans-serif bold;
  font-size: 20px;
}

#ca {
  background: white;
  max-width: 1600px;
  margin: 0 auto;
  border-radius: 50px;
}

#card {
  display: flex;
  flex-direction: row;
}

.row {
  font-family: 'Times New Roman';
  width: 350px;
  height: 400px;
  text-align: center;
  font-size: 40px;
}

.row p {
  font-size: 30px;
}

.row button {
  font-family: 'Times New Roman';
  font-size: 20px;
  width: 200px;
  height: 40px;
  background: darkorange;
  border: none;
  color: white;
  border-radius: 5px;
}

#bronze h5 {
  color: green;
  font-family: Arial;
}

#silver h5 {
  color: green;
  font-family: Arial;
  font-weight: bold;
}

#silver {
  background: blue;
  border-radius: 10px;
  color: white;
}

#silver button {
  color: orange;
  background: white;
}

#gold h5 {
  color: purple;
  font-family: Arial;
}

#footer li {
  text-decoration: none;
  list-style: none;
  display: inline;
  flex-direction: row;
  padding: 10px;
  font-size: 10px;
}

#footer {
  background: black;
  color: white;
  padding: 20px;
}

#table tbody tr th {
  padding: 10px;
}

#table {
  max-width: 1200px;
  margin: 0 auto;
}

#nav {
  display: inline-flex;
  justify-content: flex-end;
}



